.container-fluid {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(
      to right,
  
      rgba(235, 134, 134, 0.839),
      rgb(195, 229, 240)
    );
    height: 100vh;
  }
  
  h1 {
    color: red;
    margin-top: 50px;
  }
  
  #admbtn {
    margin-top: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    height: 50px;
  }
  
  #usrbtn {
    height: 50px;
    margin-bottom: 60%;
    border-radius: 10px;
    background-color: aliceblue;
  }
  