<nav class="navbar fixed-top navbar-expand-lg">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"
        >Dashboard</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/availability" routerLinkActive="active" class="nav-link"
        >Availability</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/requirement" routerLinkActive="active" class="nav-link"
        >Requirement</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="/donation" routerLinkActive="active" class="nav-link"
        >Donation</a
      >
    </li>

    <form class="d-flex" id="search">
      <input class="form-control me-2" type="text" placeholder="Search" />
      <button class="btn btn-light" type="button">Search</button>
    </form>

    <li class="nav-item">
      <a routerLink="" class="nav-link" id="logout">LogOut</a>
    </li>
  </ul>
</nav>
