#logout {
    margin-left: 450px;
  }
  .nav-link {
    margin-left: 40px;
    color: #ffffff;
  }
  #search {
    margin-left: 100px;
  }
  .about {
    margin: 40px;
  }
  .navbar {
    background-color: #f44336;
    box-shadow: 0 8px 10px -10px black;
  }
  