.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    background: linear-gradient(black, red);
    font-size: 33px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .blood-table {
    width: 50%;
    margin: 22px;
  }
  table {
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    /* rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  }
  th,
  td {
    padding: 10px;
  }
  